# Time Series Analysis of July 2006 Heat Wave

This notebook processes and makes plots of the temporal evolution of meteorology during the course of the July 2006 heat wave in the western U.S.

In [1]:
# Start by importing required packages and information about your operating system:
import os 

import pandas as pd

## Set the Directory Structure

In [2]:
# Identify the top-level data input and output directories:
data_input_dir =  '/Volumes/LaCie/wrf_to_tell/wrf_tell_counties_output'
data_output_dir =  '/Users/burl878/Documents/code_repos/ntp_heat_wave/data'

# If the "data_output_dir" subdirectory doesn't exist then create it:
if not os.path.exists(data_output_dir):
   os.makedirs(data_output_dir)

## Process the Population-Weighted Time Series:

In [14]:
# Set the year and scenario to process:
year_to_process = 2006
scenario_to_process = 'historic'

# Define function to process the population-weighted time series for a given year and scenario:
def process_met_time_series(data_input_dir: str, year_to_process: int, scenario_to_process: str):
    
    # Read in the historical population file:
    pop_df = pd.read_csv(os.path.join(data_output_dir, 'county_populations_2000_to_2020.csv'))
    
    # Rename some columns:
    pop_df.rename(columns={'pop_2006': 'Population','state_name': 'State', 'county_name': 'County', 'county_FIPS': 'FIPS'}, inplace=True)
    
    # Only keep the columns that are needed:
    pop_df = pop_df[['State', 'County', 'FIPS', 'Population']].copy()
    
    # Set the data input directory:
    met_data_dir = os.path.join(data_input_dir, scenario_to_process, str(year_to_process))

    # Set a filename for testing:
    file = '2006_01_01_00_UTC_County_Mean_Meteorology.csv'
    
    # Read in the .csv file:
    df = pd.read_csv(os.path.join(met_data_dir, file))

    # Merge the dataframes based on county FIPS code :
    df_combined = pd.merge(df, df_map, how='left', left_on=['county_FIPS', 'year'], right_on=['county_FIPS', 'year'])
    
    
    return df
    
a = process_met_time_series(data_input_dir = data_input_dir, year_to_process = year_to_process, scenario_to_process = scenario_to_process)

a

       FIPS      T2       Q2   U10   V10  SWDOWN     GLW
0      1001  287.31  0.00660  0.30 -0.49    0.00  298.06
1      1003  289.41  0.01049 -0.20  1.78    0.00  334.30
2      1005  288.42  0.00955  1.21 -1.37    0.00  322.23
3      1007  285.88  0.00466 -0.75 -1.05    0.00  279.37
4      1009  283.51  0.00393 -0.38 -0.25    0.00  283.05
...     ...     ...      ...   ...   ...     ...     ...
3103  56037  272.67  0.00441  2.46  5.82    0.02  277.32
3104  56039  271.35  0.00432 -0.99  2.76    0.00  286.64
3105  56041  273.74  0.00469  3.05  5.65    2.71  281.97
3106  56043  274.60  0.00436 -0.98  4.37    0.00  242.50
3107  56045  275.64  0.00447  1.13  1.36    0.00  264.15

[3108 rows x 7 columns]